.preview {
    .media {
        margin-bottom: 15px;

        img {
            height: 60px;
            margin-right: 15px;
        }

        h5 {
            font-size: 16px;
        }

        p {
            font-size: 14px;
            margin-bottom: 0;
        }
    }
}
