.table {
    th, td {
        vertical-align: middle;
    }

    &.feeds {
        .repositories {
            text-align: right;
        }

        .releases {
            text-align: right;
        }

        .served {
            text-align: right;
        }

        .clicks {
            text-align: right;
        }

        .actions {
            width: 112px;
            text-align: right;
        }
    }

    &.repositories {
        .actions {
            width: 60px;
            text-align: right;
        }
    }

    &.administrators {
        .avatar {
            width: 60px;

            img {
                height: 30px;
            }
        }

        .actions {
            width: 60px;
            text-align: right;
        }
    }
}
