.navbar {
    background: #33455a;

    .navbar-brand {
        color: theme-color('success');
        font-weight: bold;
        font-size: 26px;
    }

    .logout {
        color: white;
        font-size: 20px;
        font-weight: bold;

        span {
            position: relative;
            top: 2px;
        }

        img {
            height: 32px;
            margin-left: 15px;
        }
    }
}
